django
djangorestframework
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
python-dotenv
django-allauth
djangorestframework-simplejwt
PyJWT
cryptography
google-auth
google-auth-oauthlib
