django
djangorestframework
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
langchain-chroma
langchain-text-splitters
chromadb
python-dotenv
django-allauth
djangorestframework-simplejwt
PyJWT
cryptography
google-auth
google-auth-oauthlib
